@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;

}


.container-x {
    max-width: 1350px !important;
    width: 85%;
    margin: 0 auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

/* Mobile device */
@media only screen and (max-width:1034px) {
    .container-x {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }
}